:root {
  --color1: #ace189;
  --color2: #1b2711;
}

body {
  background: url("../img/world.png") no-repeat center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.mw-750 {
  max-width: 750px;
}

.flashcard {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  /* backface-visibility: hidden; */

  transition: 2s;
  -o-transition: 2s;
  -moz-transition: 2s;
  -webkit-transition: 2s;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* Safari optimization */
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.quiz p {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border: 3px solid var(--color2);
  border-radius: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
/* Safari optimization */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.front {
  color: var(--color2);
  background-color: var(--color1);
  z-index: 2;
}

.back {
  color: var(--color1);
  background-color: var(--color2);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}

.flashcard:hover {
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
